* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

h1{
  margin: 0;
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  width: 100%;
  left: 0px;
  top: 0px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header-img{
  width: 10%;
}

.header-title{
  display: flex;
  align-items: center;
}