* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

h1{
  margin: 0;
  font-size: 2rem;
}

h2{
  margin: 0;
}

p{
  font-size: 1.5rem;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  width: 100%;
  left: 0px;
  top: 0px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header-img{
  width: 5%;
  margin-right: 1%;
}

.header-title{
  display: flex;
  align-items: center;
}

.meme-form{
  padding: 2% 10%;
  text-align: center;
}

.meme-input{
  display: flex;
  justify-content: center;
}

.meme-input-box{
  width: 30%;
  margin: 0 3%;
  height: 3rem;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 20px;
}

.meme-button{
  width: 66%;
  height: 3.5rem;
  margin: 1.5% 3% 0 3%;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #ca77e6 100%);
  border-radius: 5px;
  color: white;
}

.meme-page{
  text-align: center;
}

.meme-img{
  width: 20%;
}